@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --LightCyan:  hsl(193, 38%, 86%);
    --NeonGreen:  hsl(150, 100%, 66%);
    --grayishBlue: hsl(217, 19%, 38%);
    --darkGrayishBlue: hsl(217, 19%, 24%);
    --darkBlue:  hsl(218, 23%, 16%);
}

body {
    background-color: var(--darkBlue);
    font-family: 'Manrope';
}

/* CONTAINER */
.container {
    background-color: var(--darkGrayishBlue);
    width: 75vmin;
    height: 250px;
    position: absolute;
    top: 27%;
    left: 32%;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
}

/* H-1 */
.h-1 {
    font-size: clamp(0.2vw, 0.1rem + 60%, 10px );
    font-family: 'Manrope';
    color: var(--NeonGreen);
    padding-top: 1rem;
    letter-spacing: 0.2rem;
}

.no {
    padding-left: 0.5rem;
}

#heading {
    /* font-size: clamp(0.8vw, 0.6rem + 10%, 16px ); */
    font-family: 'Manrope';
    color: var(--NeonGreen);
    padding-top: 2rem; 
}

p {
    font-size: clamp(1.6vw, 0.5rem + 90%, 18px);
    color: var(--LightCyan);
    padding-top: 1rem;
    line-height: 1.5;
}

.fade {
    opacity: 1;
    transition: 1.5s;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.quote {
    width: 70%;
}

/* BUTTON */
button{
    display: block;
    position: absolute;
    top: 88%;
    left: 45%;
    padding: 8px 6px;
    border-radius: 2rem;
    background-color: var(--NeonGreen);
    cursor: pointer;
    border: 1px solid var(--NeonGreen);
}

button:hover {
    box-shadow: 0 0 5px hsl(150, 100%, 66%), 0 0 25px hsl(150, 100%, 66%),
    0 0 50px hsl(150, 100%, 66%);
    cursor: pointer;
}

button img {
    width: 70%;
}

